:root {
    --main-color: #FFFFFF;
    --secondary-color: #EBD3A4;
    --secondary-gradient2: #E1B76A;
    --secondary-gradient1: #E2D1B7;
}

body {
    margin: 0;
    color: #000000;
    font-family: "Inter", sans-serif;
}

a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

#pencilmobile {
    display: none;
}

#effect {
    margin-left: 10%;
    width: 45%;
}

#pencil {
    width: 35%;
}

#started {
    position: absolute;
    top: 95%;
    left: 25%;

    button {
        width: 255px;
        height: 87px;
        border-radius: 50px;
    }
}

.content {
    margin: 0px auto ;
    max-width: 1100px;
}



header {
    background-color: var(--secondary-color);
    height: 119px;
    margin-bottom: 100px;
}

#header-container { 
    display: flex;
    padding-top: 40px;
    font-size: 24px;

    strong {
        font-weight: 900;
    }
}   

nav {
    display: flex;
    margin-left: auto;
    a {
        padding: 0px 15px;
    }
}

#hamburger {
    height: 45px;
    width: auto;
    margin-right: auto;
    margin-left: 35px;
    display: none;
}

strong {
    font-weight: 900;
    margin: 0px 20px;
}

footer {
    height: 250px;
    padding-top: 20px;
    background-image: linear-gradient(to right,var(--secondary-gradient1),var(--secondary-gradient2));
    font-size: 24px;
}

#footer-links {
    display: flex;
    gap: 20px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 0px;
    margin-right: auto;
}

button {
    border-radius: 20px;
    border: none;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    font-weight: 900;
    font-size: large;
}

.section {
    padding-bottom: 200px;
}

#small-text {
    font-weight: 700;
}

.display {
    display: flex;
    
    img {
        width: 40%;
        height: auto;
    }
}

#contact-links {
    display: flex;
    background-color: #E0CEB2BF;
    padding: 15px 10px;
    border: rgba(0,0,0,0.2) solid 4px;
    a{
        margin: 0px auto;
    }
    img {
        width: 70%;
        height: auto;
    }
}

.reverse {
    flex-direction: row-reverse;
}

#title {
    font-size: 64px;
    font-weight: 1000;
    margin: 0px;
}

#description {
    font-size: 24px;
    font-weight: 900;
}

@media (max-width: 600px) {
    nav {
        display: none;
    }

    #hamburger {
       display: block;
    }

    #header-container {
        flex-direction: row-reverse;
    }

    #contact-links {
        flex-wrap: wrap;

        a { 
            width: 21%;
        }
    }

    .display {
        flex-direction: column-reverse;
        img {
            width: 100%;
            height: auto;
            margin: 30px 0px;
        }
    }

    header {
        margin-bottom: 0px;
    }

    #effect {
        display: none;
    }

    #main-picture {
        margin: 60px auto;
    }

    #pencil {
        display: none;
    }

    #pencilmobile {
        display: block;
        width: 100%;
    }
}